body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ddd;
    overflow: hidden;
    flex:auto;
}




.logo {
padding: 14px 16px;
text-decoration: none;
color: #000; 
}

.logo img {
max-width: 30px; 
height: auto; 
}




nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s, color 0.3s
}

nav a:hover {
    background-color: #484343;
    color: #fff; 
}

.encabezado {
    background-image: url('../IMAGENES/imagenes-inicio/feet-1840619_1280.jpg');
    background-size: cover;
    background-position: center;
    color: #000;
    padding: 60px 0;
    text-align: left;
    margin-bottom:20px;
}

.encabezado h1 {
    margin-bottom: 20px;
}
.encabezado h1{
    font-family: fantasy;
    font-size:50px;
}
.encabezado h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size:xx-large;
    font-style: italic;
    color: #fff;
    text-shadow: 1px 1px 2px #000; 
    
}

.container2 {
    max-width:600px;
    margin: 20px auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    flex:auto;
}

.section {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

h1, h2 {
    text-align: center;
}

.section label {
    display: block;
    margin-bottom: 8px;
    font-weight: 700;
}


.section textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.submit-btn {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 700;
}

.submit-btn:hover {
    background-color: #555; 
}
.menu-toggle {
    display: none;
    cursor: pointer;
    padding: 10px;
}

.menu-toggle .bar {
    display: block;
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 5px 0;
}

@media only screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav {
        display: none;
    }

    nav.active {
        display: block;
    }
}