footer {
    background-color: #333;
    color: #fff;
    text-align:left;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.social-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.social-icon {
    margin-right: 5px; 
    display: inline-block; 
}

.social-icon img {
    width: 30px; 
    height: 30px; 
}